/* About Page specific styles */

.page-about {
	
}

.aboutme {
	text-align: center;
	font-size: 80px;
	margin: 40px;
	padding: 20px;
}

.selfie {
	border-radius: 50%;
	display: block;
	width: 200px;
	padding: 10px;
	margin: 50px auto 20px;
}
