/* Contact Page specific styles */

body {
	background-color: #ccc;
}
#form-wrap {
	width: 800px;
	border: 5px solid #dddddd;
	background-color: #afc0de;
	margin: 50px auto;
	padding: 20px 0;
}

form {
	width: 700px;
	margin: 0 auto;
}

input {
	width: 400px;
	margin: 0 0 0 20px;
	

}

textarea{
	display: block;
	width: 400px;
	margin: 5px 0 5px 20px;
	padding: 10px;
}
fieldset {
	border: none;
	background-color: #f6f6f6;
	padding: 0 0 20px 0;
	}

form li {
	list-style: none;

}

.checkbox input{
	width:20px;
	position: relative;
	vertical-align: middle;

}
.checkbox label {
	width: 200px; 
	position: relative; 
	left: -20px;
	display: inline-block; 
	vertical-align: middle;
}
