/* Contact Page specific styles */

html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
}

p {
	color: #e3e3e3;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #efefef;
}

.h1-heading {
	font-size: 20px;
}

.h3-heading {
	font-size: 18px;
}


.legal {
	font-size: 10px;
	color: #eaeaea;
}

.section-footer {
	background: rgba(0, 0, 0, 0.6);
	text-align: left;
	padding: 10px 0 10px;
	margin-top: 160px;
	width: 100vw;
}

.page-contact {
	background: url('../img/SF-far.jpg') no-repeat scroll 0 0 transparent;
	background-size: cover;
	height: 100vh;
}

.page-contact:before {
	background: rgba(0,0,0,0.15);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.form-wrapper {
	margin: 50px auto;
	padding: 20px 0;
}

.row {
	display: block;
	overflow: visible;
	margin-bottom: 17px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.column1-3 {
	width: 33%;
	float: left;
}

.contact-form {
	margin: 0 auto;
}

.contact-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.contact-form input,
.contact-form textarea {
	border: 1px solid #ccc;
	border-radius: 7px;
	margin: 0;
	opacity: 0.7;
	outline-offset: 1px;
}

.contact-form input {
	padding: 7px 10px;
	width: auto;
	position: relative;
	vertical-align: middle;
	width: 85%;
}

.contact-form textarea {
	padding: 7px 10px;
	width: 94%;
}

.contact-form .btn {
	border-radius: 7px;
	float: right;
	margin-right: 30px;
	width: 120px;
}

.contact-form .btn:hover {
	background-color: #a0a0a0;
	cursor: pointer;
}
