/* Contact Page specific styles */

.form-wrapper {
	margin: 50px auto;
	padding: 20px 0;
}

.row {
	display: block;
	overflow: visible;
	margin-bottom: 10px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.column1-3 {
	width: 33%;
	float: left;
}

.contact-form {
	margin: 0 auto;
}

.contact-form fieldset {
	border: none;
}

.contact-form input,
.contact-form textarea {
	border: 1px solid #ccc;
	border-radius: 7px;
	margin: 0;
	outline-offset: 1px;
}

.contact-form input {
	padding: 7px 10px;
	width: auto;
	position: relative;
	vertical-align: middle;
	width: 85%;
}

.contact-form textarea {
	padding: 7px 10px;
	width: 94%;
}

.contact-form .btn {
	border-radius: 7px;
	float: right;
	margin-right: 30px;
	width: 120px;
}

.contact-form .btn:hover {
	background-color: #a0a0a0;
	cursor: pointer;
}
