/* Home Page specific styles */

.page-home {
	background: url('../img/SF-far.jpg') no-repeat scroll 0 0 transparent;
	background-size: cover;
	height: 100vh;
}

.page-home:after {
	background: rgba(0,0,0,0.15);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.intro-text {
	margin-top: 120px;
	text-align: center;
	font-size: 30px;
}

.description {
	text-align: center;
	font-size: 30px;
}
