/* Global Site Styles */
.main-header {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;
	
}

.main-header a:visited {
	color: #ccc;

}


.header img {
	background: url("/images/bridge.jpg") center no-repeat;
	max-width: 1200px
	height: 200px;
}

/* Logo */

.main-heading {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
	text-decoration: none;

}

.main-heading a {
	text-decoration: none;

}

.main-heading span {
	padding-left: 20px;
	color: #5383d3;
	text-decoration: none;
}

/* The header links */
.main-header  ul {
	list-style: none;
	display: block;
	float: right;

}

.main-header ul li {
	display: inline-block;
}

.main-header ul li a {
	color: #ffffff;
	text-decoration: none;
}

.main-header ul li a:hover {
	color: #5383d3;
	text-decoration: none;
}
 

.main-header nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
	
}

.main-header nav a {
	display: inline-block;
	padding: 0 10px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}


.main-header nav a.selected {
	color: #608bd2; 	
	pointer-events: none;
	opacity: 1;
}


/* Section Content styles */

.section-content {
	max-width: 900px;
	margin: 0 auto;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.main-header {
		padding: 20px 0;
		height: 75px;
	}

	.main-header .main-heading h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.main-header .main-heading nav {
		line-height: 1;
		float:none;
	}

	.main-header .main-heading nav a {
		font-size: 13px;
	}

	