/* Global Site Styles */

html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
}

p {
	color: #e3e3e3;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #efefef;
}

.h1-heading {
	font-size: 20px;
}

.h3-heading {
	font-size: 18px;
}

.main-header {
	background-color: rgba(0, 0, 0, 0.65);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 0;
	height: 70px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 50px 0 30px;
}

.main-header a:visited {
	color: #ccc;

}


/* Logo */

.main-heading {
	color: #30b8ff;
	font-size: 22px;
	float: left;
	margin: 15px 0;
	text-decoration: none;
}

.main-heading .subhead {
	position: relative;
	font-size: 12px;
	color: #4aa3ee;
	text-decoration: none;
	top: 15px;
	left: -60px;
	font-weight: normal;
}

.croat-red {
	background: #9a1918;
	display: block;
	width: 43px;
	height: 100px;
	float: left;
	margin-right: 10px;
}

/* The header links */
.main-header  ul {
	list-style: none;
	display: block;
	float: right;

}

.main-header ul li {
	display: inline-block;
}

.main-header ul li a {
	color: #ffffff;
	text-decoration: none;
}

.main-header ul li.selected a {
	color: #898989;
}

.main-header ul li a:hover {
	color: #5383d3;
	text-decoration: none;
}
 

.main-header nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
	position: relative;
	z-index: 3;
}


/* Footer Styles */

.legal {
	font-size: 10px;
	color: #eaeaea;
}

.section-footer {
	background: rgba(0, 0, 0, 0.6);
	text-align: left;
	padding: 10px 0 10px;
	margin-top: 160px;
	width: 100vw;
}

.main-header nav a {
	display: inline-block;
	padding: 0 10px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}


.main-header nav a.selected {
	color: #608bd2; 	
	opacity: 1;
}


/* Section Content styles */

.section-content {
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	z-index: 4;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.main-header {
		padding: 20px 0;
		height: 75px;
	}

	.main-header .main-heading h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.main-header .main-heading nav {
		line-height: 1;
		float:none;
	}

	.main-header .main-heading nav a {
		font-size: 13px;
	}