/* Work Page specific styles */

.page-work {
	background: url("../img/TowerBridge.jpg");
	background-size: cover;
	font-family: arial, helvetics, sans-serif;
	color: #f1f1f1;
}

.page-work:before {
	background: rgba(0, 0, 0, 0.45);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
}